body {
  background-color: #eee;
  z-index: 0;
}

#img_wrapper{
  margin: 0 auto;
  width: 100%;
}

#portrait{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

#heading {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #eee;
    z-index: 1;
    text-align: center;
    font-size: 80px;
    font-family: 'Lato', 'Segoe UI Light', 'Calibri Light', sans-serif;
}

body p, #links {
  position: relative;
  margin: auto;
  padding-bottom: 15px;
  width: 400px;
  text-align: justify;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Lato', 'Segoe UI Light', 'Calibri Light', sans-serif;
  line-height: 200%
}

.programming {
  font-family: 'Cutive+Mono', monospace;
  font-weight: 100;
  margin-left: 5px;
}
