body {
  background-color: #eeeeee;
}

#heading {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 80px;
    font-family: 'Lato', 'Segoe UI Light', 'Calibri Light', sans-serif;

}

.middle {
  margin: auto;
  padding-bottom: 15px;
  width: 400px;
  text-align: justify;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Lato';
}

#programming {
  font-family: 'Cutive+Mono', monospace;
  font-weight: 100;
  margin-left: 5px;
}

@media screen and (min-width: 600px) {
  #heading {
    margin-top: 20%;
  }
}
