#intro, #projects {
	@extend .container-fluid;
}

#intro {
	background-color: $intro-bg;
}

.center_row {
	@include make-row();
	@extend .justify-content-center;
}

.img_wrapper {
	@include make-col-ready();

	@extend .offset-md-1;

	@include media-breakpoint-up(lg) {
    @include make-col(4);
  }

	@extend .mx-auto, .mt-2;
}

#portrait {
	@include img-fluid()
	@include media-breakpoint-up(lg) {
		@include float-right()
  }
	@extend .rounded-circle, .d-block, .mx-auto, .my-3;
	width: 300px;
	height: 300px;
}

#self {
	@include make-col-ready();


		@include media-breakpoint-up(lg) {
	    @include make-col(7);
	  }

	@include media-breakpoint-up(xl) {
    @include make-col(8);
  }

	background: $intro-bg;

	//@extend .justify-content-center;

		.words {
			width: auto;
			height: 100%;
			@extend .d-inline-flex;
			align-items: center;
			background-color: $intro-bg;
			text-align: center;

			@include media-breakpoint-down(md) {
				width: 100%;
				display: block !important;
			}

			.name {
				font-size: 75px;

				@include media-breakpoint-up(md) {
			    font-size: 85px;
			  }

				@include media-breakpoint-up(lg) {
			    font-size: 80px;
					text-align: left;
			  }

				@include media-breakpoint-up(xl) {
			    font-size: 115px;
			  }

				p {
					text-align: center;
				}
			}




		}
}

hr {
		visibility: hidden;
		@include media-breakpoint-up(lg) {
			visibility: visible;
		}
		@extend .mt-0;
		border: none;
		height: 1px;
		color: #777;
		background-color: #777;
}

#links {
	@include make-col-ready();
	@include make-col(12);
	@extend .text-center;
	a {
		@extend .mx-1;
	}
}

.emphasis {
	font-family: 'Cutive+Mono', monospace;
	@extend .ml-1, .font-weight-normal;
}

p {
	@extend .mx-auto, .font-weight-bold, .px-2;
	font-size: 28px;
}
